a{
    position: sticky;
    top: 0;
    behavior: 'smooth' ;
}
nav{
    position: sticky;
    top: 0;
    behavior: 'smooth';
    background-color: #ffbf00;
    height: 45px;
   
}

.active {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}